/* static/css/base.css */
/* ANimaciones */
@keyframes rainbow {
    0% {
        background-color: red;
        color:white;
        padding: 10px;
        border-radius: 10px;
    }
    14.28% {
        background-color: rgb(255, 128, 0);
        color:white;
        padding: 10px;
        border-radius: 10px;
    }
    28.56% {
        background-color: rgb(255, 238, 0);
        color:white;
        padding: 10px;
        border-radius: 10px;
    }
    42.84% {
        background-color: rgb(4, 255, 0);
        color:white;
        padding: 10px;
        border-radius: 10px;
    }
    57.12% {
        background-color: rgb(0, 38, 255);
        color:white;
        padding: 10px;
        border-radius: 10px;
    }
    71.40% {
        background-color: rgb(98, 0, 255);
        color:white;
        padding: 10px;
        border-radius: 10px;
    }
    85.68% {
        background-color: rgb(247, 0, 255);
        color:white;
        padding: 10px;
        border-radius: 10px;
    }
    100% {
        background-color: rgb(255, 0, 85);
        color:white;
        padding: 10px;
        border-radius: 10px;
    }
}

header h1 a {
    color: red;
}

a:hover{
    animation-duration: 0.3s;
    animation-name: rainbow;
    animation-iteration-count: infinite;
}

h1 a:hover{
    animation-duration: 0.1s;
    animation-name: rainbow;
    animation-iteration-count: infinite;
}

